<html>
    <head>
        <title>First Web Application</title>
    </head>
    <body>
        <form method="post" action="/student/register">
            Name  <input type="text" name="name" /> <br/>
            Last Name  <input type="text" name="lastName" /> <br/> 
            Age <input type="text" name="age" /> <br/>
            Class <input type="text" name="standard" /> <br/>
            Phone <input type="text" name="phone" /> <br/>
            <input type="submit" />
        </form>
    </body>
</html>